{% extends "trustpilot/layouts/_reviews" %}
{% import "_includes/forms" as forms %}

{% set content %}

    <h1>Reviews</h1>
    {% for review in getReviews.reviews %}
        <h2>{{ review.title }}</h2>
        <p>{{ review.text }}</p>
    {% endfor %}
    <hr />

    <h1>Info</h1>
    trustpilot full url: {{ getProfile.trustpilotLink }}<br />
    website url: {{ getProfile.websiteUrl }}<br />
    display Name: {{ getProfile.displayName }}<br />
    score: {{ getProfile.trustScore }}<br />
    stars: {{ getProfile.stars }}<br />
    Number Of Reviews: {{ getProfile.count.total }}<br />
    1: {{ getProfile.count.oneStar }}<br />
    2: {{ getProfile.count.twoStars }}<br />
    3: {{ getProfile.count.threeStars }}<br />
    4: {{ getProfile.count.fourStars }}<br />
    5: {{ getProfile.count.fiveStars }}<br />
    <hr />
    <h1>Images</h1>
    company logo<Br />
    <img src="{{ getProfile.companyLogo }}" style='width: 100%' />
    Profile Pic<br />
    <img src="{{ getProfile.profilePicture }}" />
    <hr />
    <h1>Guarantee box</h1>
    body: {{ getProfile.guaranteeBox.body }}<br />
    header: {{ getProfile.guaranteeBox.header }}<br />
    teaser: {{ getProfile.guaranteeBox.teaser }}<br />
    <img src="{{ getProfile.guaranteeBox.image }}" /><br />
    <hr />
    <h1>Promo Information</h1>
    alt title: {{ getProfile.promotion.alternateTitle }}<br />
    title: {{ getProfile.promotion.title }}<br /><br />
    header: {{ getProfile.promotion.description.header }}<br />
    text: {{ getProfile.promotion.description.text }}<br /><br />
    <img src="{{ getProfile.promotion.image }}" /><br /><br />
    {% for sellingPoint in getProfile.promotion.sellingPoints %}
        sellingPoint {{loop.index}} : {{ sellingPoint.header }}<br />
        sellingPoint {{loop.index}} : {{ sellingPoint.text }}<br /><br/>
    {% endfor %}
{% endset %}