{% extends "trustpilot/layouts/_reviews" %}
{% import "_includes/forms" as forms %}

{% set content %}
    <img src="{{ stars.starSvg.url }}" /><br />
    <h1>{{ verbose.string }}</h1><br />
    <img src="{{ icons.icon230x230.url }}" /><br />
    <div style="background-color: black; display: inline-block">
        <img src="{{ logos.darkBackground.logoSvg.url }}" />
    </div>
    <img src="{{ logos.lightBackground.logoSvg.url }}" />
{% endset %}